<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A Basic HTML5 Template</title>
    <meta name="description" content="A simple HTML5 Template for new projects.">
    <meta name="author" content="SitePoint">

    <meta property="og:title" content="A Basic HTML5 Template">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:description" content="A simple HTML5 Template for new projects.">
    <meta property="og:image" content="image.png">

    <script src="https://unpkg.com/htmx.org@1.8.4"
        integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- your content here... -->
    <script type="text/javascript">
        // const endpoint = "http://localhost:3000"

        // document.body.addEventListener('htmx:configRequest', function (evt) {
        //     evt.detail.path = endpoint + evt.detail.path
        // });

        // const csrfToken = document.currentScript.dataset.csrftoken;

        // htmx.on('htmx:configRequest', (event) => {
        //     if (csrfToken) {
        //         evt.detail.headers['x-csrftoken'] = csrfToken;
        //     }
        // });
    </script>
    {% csrf_token %}

    {% if bids %}
    <ul>
        {% for bid in bids %}
        <li id="bid-{{ bid.id }}">
            <p>This bid ({{ bid.id }}) has price: {{ bid.price }} and name {{ bid.first_name }} {{bid.last_name}}</p>
            <button hx-delete="/admin/auction/bid/{{ bid.id }}/delete/" hx-trigger="click" hx-target="#bid-{{ bid.id }}" hx-swap="outerHTML" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                Click Me!
            </button>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No bids are available.</p>
    {% endif %}
</body>

</html>

