{% extends 'auction_base.html' %}

{% block content %}

<div class="bg-white">
    <main class="mx-auto px-4 pt-14 pb-24 sm:px-6 sm:pt-16 sm:pb-32 lg:max-w-7xl lg:px-8">
        <div class="mx-auto mt-14 max-w-2xl sm:mt-16 lg:col-span-3 lg:row-span-2 lg:row-end-2 lg:mt-0 lg:max-w-none">
            <div class="mt-4">
                <h1 class="title-name text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">{{auction.title}}</h1>
            </div>
            <div class="flex flex-col-reverse">
                <sl-tab-group>
                    <sl-tab slot="nav" panel="stats">Stats</sl-tab>
                    <sl-tab slot="nav" panel="edit">Edit</sl-tab>
                    <sl-tab slot="nav" panel="updates">Updates</sl-tab>

                    <sl-tab-panel name="edit">
                        {% include "auction/auction_edit.html"%}
                    </sl-tab-panel>
                    <sl-tab-panel name="stats">
                        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2">
                            <div class="prose prose-sm mt-4 text-gray-500">
                                <p>Things for sale in auction: {{auction.num_items}}
                                <p>Average Price: ${{auction.total_average_bid|floatformat:2}}</p>
                                <p>Average Price of Winning Bids: ${{auction.winning_average_bid|floatformat:2}}</p>
                                <p>All winning buyers will pay ${{auction.winning_bid_price|floatformat:2}}</p>
                                <p>Winning Bids: {{auction.winning_bids}}}</p>
                                <h3>Recommendations</h3>
                                {% for recommendation in auction.recommendations %}
                                    <p>{{recommendation}}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </sl-tab-panel>
                    <sl-tab-panel name="updates">
                        <h1 class="border-transparent font-bold text-black whitespace-nowrap border-b-2 py-6 text-base">Add an Update</h1>
                        {% include "update_list.html"%}
                    </sl-tab-panel>
                </sl-tab-group>
            </div>
        </div>
    </main>
</div>
{% endblock content %}